<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        KeebsMania
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-groupbuy
      *ngFor="let groupbuy of groupbuys"
      [groupbuy]="groupbuy"
    ></app-groupbuy>
  </ion-list>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="danger" routerLink="/groupbuy" routerDirection="root">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
